/* Aula 02 - Comentário Básico */

/* Assim é um comentário básico*/

/* Aula 03 - Anatomia */

h1{
    color: blue;
}


/* Aula 04 - Seletores */

h1, h2 {
    color: green;
    font-size: 60px;
    background: gray;
}

* {
    margin: 0;
}

#container{
    width: 200px;
}

.m-40{
    margin: 40px;
}


/* Aula 05 - Box Model */

h1 {
    border: 1px solid red;
    margin: 200px;
    padding: 60px;
}


/* Aula 06 - Adicionando CSS*/ 

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

h1{
    color: blue;
    font-family: 'Roboto', sans-serif;
}

strong {
    color: red;
}


