/* Aula 02 - Comentário Básico */

/* Assim é um comentário básico*/

/* Aula 03 - Anatomia 

h1{
    color: blue;
}

*/

/* Aula 04 - Seletores 

h1, h2 {
    color: green;
    font-size: 60px;
    background: gray;
}

* {
    margin: 0;
}

#container{
    width: 200px;
}

.m-40{
    margin: 40px;
}

*/


/* Aula 05 - Box Model 

h1 {
    border: 1px solid red;
    margin: 200px;
    padding: 60px;
}

*/

/* Aula 06 - Adicionando CSS 

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

h1{
    color: blue;
    font-family: 'Roboto', sans-serif;
}

strong {
    color: red;
}

*/

/* Aula 07 - A cascata 

h1 {
    color: red;
}

h1 {
    color: yellow;  Esse atributo que o browser vai usar no elemento H1 
}

*/ 

/* Aula 08 - Especificidade 

#my-title, 
#my-title strong{
    color: gray;
}

.title {
    color: red;
}

h1 {
    color: blue;
}

* {
    color: green;
}

*/

/* Aula 09 - Regra important

#my-title, 
#my-title strong{
    color: gray;
}

.title {
    color: red;
}

h1 {
    color: blue !important;
}

* {
    color: green;
}

*/

/* Aula 10 - At rules 

@import "http://localcom/style.css";

@media  (min-width: 500px ){
     rules here 
}

@font-face {
     rules here 
}

@keyframes nameofanimation{
     rules here 
}

*/

/* Aula 11 - Shorthand 

h1 {
    background-color: #000;
    background-image: url(images/bg.gif);
    background-repeat: no-repeat;
    background-position: left top;
}

h1 {
    background: #000 url(images/bg.gif) no-repeat left top;
}

*/

/* Aula 12 - Funções */

@import url("http://ulaqui.com/style.css");

{
    color: rbg(255, 0, 100);
    width: calc(100% - 10px);
}